{% load staticfiles %}

<!doctype html>
<html>
    <head>
        <meta charset="utf-8"> 
        <title>Canary</title>
</head>
<style>
html {
    height: 100%;
}
body {
    height: 100%;
    margin: 0;
    padding: 0;
}
#page-table {
    height: 100%;
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}
#page-td {
    height: 100%;
    padding: 0;
    vertical-align: middle;
}
</style>
<body>
<table id="page-table"><tr><td id="page-td">
    <td id="page-td" style="
    background-color: black;
">
    <div id="global">
        <h1 style="
    padding: 10px;
    font-size: 10em;
    color: white;
    /* text-decoration: underline; */
    margin: 46px;
    border: 15px solid;
">{{ name }} {{ line }}</h1>
    </div>
</td>
</td></tr></table>
</body>
</html>